@tailwind base;
@tailwind components;
@tailwind utilities;


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: white;
    color: #000;
}

@layer base {
    body {
        @apply min-h-screen text-xl;
    }   
    input {
        @apply w-1/4  border-2 border-black  
    }   
    select {
        @apply w-1/5 border-2 border-black text-base
    }
    textarea {
        @apply w-1/4 h-28 border-2 border-black 
    }
    form {
        @apply flex flex-col gap-y-10
    }
     

}
@layer components {
    .shape {
        @apply flex justify-around
    }
    .btn {
        @apply border-2 border-black w-1/5 self-center rounded-lg
    }
   
}